:root {
	--primary-color: #1243B6;
	--secondary-color: #FF9700;
	--text-color: #000000
}

body{
	background: url('../img/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: var(--text-color);
	font-family: 'Inter', sans-serif;
}

html,
body{
	overflow-x: hidden;
}

select,
body,
input{
	font-size: 15px!important;
}

.top-bar {
	background-color: var(--primary-color);
	height: 60px;
	font-size: 18px;
	color: white;
}

.bg-primary {
	background-color: var(--secondary-color)!important;
	border-color: var(--secondary-color)!important;
}

.bg-primary:hover {
	background-color: var(--primary-color)!important;
	border-color: var(--primary-color)!important;
}

input[type=text] {
	border-radius: 5px;
	background-color: #F8F8F8;
	border: 2px solid #E4E4E4;
}